---
title: nyc bookstores blog
---
{% include blog_header.html %}
<div class='blog_container'>
	<div class='blog_info'>
		<p>
			<a href="/">NYC Bookstores</a> is a project to build a list and interactive map of all of the bookstores in the five boroughs of New York City. This blog documents the progress.
		</p>
	</div>

	<div class='post_list'>
	{% for post in site.posts %}
		<div>
			<h2>
				<a href='{{ post.url }}'>
					{{ post.title }}
				</a>
			</h2>
			<div>
				{{ post.excerpt }}
			</div>
		</div>
	{% endfor %}
	</div>

</div>
{% include blog_footer.html %}